<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>How does Romania compare with other states in the fight against COVID-19?</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h2 class="mt-5">How does Romania compare with other states in the fight against COVID-19?</h2>
    <img id="stats_img" src="https://storage.googleapis.com/romania-covid19-stats/romania_stats.png?nocache={{ range(1, 5100) | random }}" />
    <br/>
    <span class="text-muted">Will update automatically at 12:00 UTC</span> <a href="/update">Update now</a>
    <br/>
    <br/>
    <h3>How to read these charts:</h3>
    <ol>
    <li>The number of cases per 1000 inhabitants shows how effective the measures taken are in preventing the spread of the virus.</li>
    <li>The number of deaths per 1000 inhabitants shows how effective the healthcare system is in treating the severe cases.</li>
    <li>The number of total cases per 1000 inhabitants shows the total number of people tested positive. The slower the growth rate the more effective the quarantine is.</li>
    <li>The number of total deaths per 1000 inhabitants shows the total victims of the virus. The slower the growth rate the closer to completion we are.</li>
    <li>The total cases since the 100th case on a log scale shows the how 'exponentially' the spread is. The flatter this curve is the closer we are to completion a country is.</li>
    <li>The total cases since the 100th case per 100 inhabitans on a log scale shows the how we compare to other countries relative to our size. The lower on the chart the closer to completion a country is.</li>

    </ol>
  </div>
    
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">(C) Alex Bordei. The data source is the European Centre for Disease Prevention and Control (ECDC). CSV is available <a href="http://opendata.ecdc.europa.eu/covid19/casedistribution/csv/">here</a></span>
  </div>
</footer>
</body>
</html>

